# Configuração de Conexão com o Banco de Dados PostgreSQL (Neon Tech)
DATABASE_URL=postgresql://usuario:senha@ep-exemplo.us-east-2.aws.neon.tech/neondb?sslmode=require

# Webhook do Power Automate para Atualização Automática do Power BI (opcional para execução local)
# POWER_AUTOMATE_WEBHOOK_URL=https://prod-xx.brazilsouth.logic.azure.com:443/workflows/...
